<div class="navbar max-h-24 md:px-4 px-0 flex-col md:flex-row mt-2">
  <div class="flex-1 flex items-center justify-between w-full">
    <!-- Logo et redirection -->
    <a [routerLink]="['./']" class="flex items-center pl-2">
      <img
        src="./assets/logo.svg"
        [alt]="title"
        class="max-h-24 sm:w-32 sm:h-32"
        (click)="redirectToHome()" />
    </a>

    <!-- Bouton Hamburger pour mobile -->
    <div class="md:hidden pr-4">
      <button
        class="text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700"
        aria-label="Menu"
        (click)="menuOpen = !menuOpen">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

    <!-- Menu en grand écran -->
    <nav class="hidden md:flex items-center space-x-4 w-full justify-end">
      <ol class="flex flex-row gap-4 uppercase">
        <li> <a href="#" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md" *ngIf="!(user$ | async); else loggedInLinks" >
         accueil
        </a></li>
        <li> <a href="#presentation" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
          présentation
        </a></li>
        <li> <a href="#presentationStaff" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
          l'équipe
        </a></li>
        <li> <a href="#modeles" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
          nos modèles
        </a></li>
        <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
          contact
        </a></li>
        <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#0B3954] border-solid border-1 border-sky-500 bg-[#BFD7EA] rounded-2xl px-2 hover:shadow-md hover:bg-[#A3C6D4]" *ngIf="!(user$ | async); else loggedInLinks" >
          Se Connecter
        </a></li>
      </ol>
      

     
      <!-- Avatar utilisateur -->
      <div *ngIf="user$ | async" class="dropdown dropdown-bottom">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Avatar utilisateur"
              src="{{ (user$ | async)?.photoProfile }}" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a routerLink="/profile" class="justify-between">
              Profil
              <span class="badge">Nouveau</span>
            </a>
          </li>
          <li><a>Paramètres</a></li>
          <li ><a (click)="logout()" routerLink="/auth">Déconnexion</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Menu déroulant en mobile -->
  <div
    [class.block]="menuOpen"
    [class.hidden]="!menuOpen"
    class="md:hidden flex-col w-full z-50 bg-[#0B3954] bg-opacity-70">
    <ol class="flex flex-col gap-4 uppercase items-center py-4">
      <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md" *ngIf="!(user$ | async); else loggedInLinks" >
       accueil
      </a></li>
      <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
        présentation
      </a></li>
      <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
        l'équipe
      </a></li>
      <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
        nos modèles
      </a></li>
      <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
        contact
      </a></li>
      <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#0B3954] border-solid border-1 border-sky-500 bg-[#BFD7EA] rounded-2xl px-2 hover:shadow-md hover:bg-[#A3C6D4]" *ngIf="!(user$ | async); else loggedInLinks" >
        Se Connecter
      </a></li>
    </ol>
  </div>
  <ng-template #loggedInLinks>
    <ul class="flex flex-col md:flex-row gap-2 gap-4 uppercase">
      
        <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md" *ngIf="!(user$ | async); else loggedInLinks" >
         accueil
        </a></li>
        <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
          présentation
        </a></li>
        <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
          l'équipe
        </a></li>
        <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
          nos modèles
        </a></li>
        <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#BFD7EA] hover:underline hover:shadow-md">
          contact
        </a></li>
        <li> <a [routerLink]="['./auth']" class="text-lg font-medium text-[#0B3954] border-solid border-1 border-sky-500 bg-[#BFD7EA] rounded-2xl px-2 hover:shadow-md hover:bg-[#A3C6D4]" *ngIf="!(user$ | async); else loggedInLinks" >
          Se Connecter
        </a></li>
      
      <li>
        <a routerLink="/profile">Profile {{ (user$ | async)?.firstName }}</a>
      </li>
      <li>
        <a routerLink="/edit">Edition</a>
      </li>
      <li>
        <a (click)="logout()" routerLink="/auth">Déconnection</a>
      </li>
    </ul>
  </ng-template>
</div>
